@import "fancybox"
@import "bootstrap"
@import "slick-less"
//@import "ui"
=b_a()
  content: ''
  position: absolute

=m_a()
  top: 0
  right: 0
  bottom: 0
  left: 0
  margin: auto


=flex()
  display: flex
  display: -webkit-flex

=j-center()
  justify-content: center
  -webkit-justify-content: center

=j-beetween()
  justify-content: space-between
  -webkit-justify-content: space-between

=j-space-around()
  justify-content: space-around
  -webkit-justify-content: space-around

=j-end()
  justify-content: flex-end
  -webkit-justify-content: flex-end

=j-start()
  justify-content: flex-start
  -webkit-justify-content: flex-start

=ai-center()
  align-items: center
  -webkit-align-items: center

=ai-start()
  align-items: flex-start
  -webkit-align-items: flex-start

=ai-end()
  align-items: flex-end
  -webkit-align-items: flex-end

=as-center()
  align-self: center
  -webkit-align-self: center

=as-end()
  align-self: flex-end
  -webkit-align-self: flex-end

=as-start()
  align-self: flex-start
  -webkit-align-self: flex-start

=wrap()
  flex-wrap: wrap
  -webkit-flex-wrap: wrap

=col()
  flex-direction: column
  -webkit-flex-direction: column


=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius


=box-shadow($box-shadow)
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow


=transform($transform)
  transform: $transform
  -webkit-transform: $transform
  -moz-transform: $transform
  -ms-transform: $transform
  -o-transform: $transform


=transition($transition_default)
  transition: $transition_default
  -webkit-transition: $transition_default
  -moz-transition: $transition_default
  -o-transition: $transition_default

$transition_default: .3s linear

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap')
$font: 'Open Sans', sans-serif

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap')

$raleway: 'Raleway', sans-serif

$text_black: #323232
$bg_black: #303030
$orange: #FFAB00
$nav_bg: #303030
$shadow: 1px 2px 30px rgba(0, 0, 0, 0.17)
$border: 1px solid #E8E8E8



.container
  max-width: 1215px

a, button
  +transition($transition_default)


a
  text-decoration: underline
  color: $orange

  &:hover, &:focus
    text-decoration: none



button, input, .form-control
  outline: none

.form-control
  &:hover, &:focus
    box-shadow: none
    outline: none


button
  cursor: pointer
  &:hover, &:focus
    +box-shadow(none)
    outline: none

img, video
  max-width: 100%


ul
  padding: 0
  margin: 0
  li
    list-style: none


body
  color: $text_black
  font-size: 14px
  font-family: $font
  line-height: 19px
  font-weight: 300
  position: relative



.header_row
  +flex
  +j-beetween
  +ai-center
  padding: 27px 0
  @media (max-width: 991px)
    padding: 15px 0
.logo
  @media (max-width: 575px)
    width: 50%
  .logo_link
    display: inline-block
    text-decoration: none
    color: $text_black
    span
      display: block
      color: $text_black
      line-height: 1.2
      @media (max-width: 575px)
        font-size: 10px

      &.site_name
        font-family: $raleway
        color: #000
        font-size: 23px
        font-weight: 500
        line-height: 27px
        text-transform: uppercase
        @media (max-width: 575px)
          font-size: 20px
          line-height: 1.2
        @media (max-width: 375px)
          font-size: 18px



.btns_box
  @media (max-width: 575px)
    width: 50%
    +j-end
  +flex
  +ai-center
  .user_box

    &.show
      .dropdown-toggle
        &:after
          +transform(rotate(180deg))
    .dropdown-toggle
      background: none
      border: 0
      padding-right: 13px
      &:after
        +b_a
        bottom: 2px
        right: 0
        width: 10px
        height: 6px
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.789551 1L4.78955 5L8.78955 1' stroke='%23323232' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
        border: 0
    .dropdown-menu
      padding: 10px
      li
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0
        a
          text-decoration: none
          &:hover
            text-decoration: none

  .basket_box
    margin-left: 25px
    @media (max-width: 575px)
      margin-left: 15px
    .basket_link
      display: inline-block
      position: relative
      padding-right: 18px
      .count
        position: absolute
        top: 0
        right: 0
        +border-radius(50%)
        background: $orange
        min-width: 15px
        width: 15px
        height: 15px
        +flex
        +ai-center
        +j-center
        color: #fff
        font-size: 10px
  .mm_btn
    margin-left: 25px
    @media (max-width: 575px)
      margin-left: 15px
    .hamburger
      background: none
      border: 0
      width: 30px
      height: 21px
      position: relative
      cursor: pointer
      &.act
        span
          &:nth-child(1)
            +transform(rotate(45deg))
            top: 9px
          &:nth-child(2)
            opacity: 0
          &:nth-child(3)
            +transform(rotate(-45deg))
            bottom: 9px
      span
        position: absolute
        left: 0
        width: 100%
        height: 3px
        +border-radius(2px)
        background: $text_black
        +transition($transition_default)
        &:nth-child(1)
          top: 0
        &:nth-child(2)
          top: 0
          bottom: 0
          margin: auto
        &:nth-child(3)
          bottom: 0
    @media (min-width: 992px)
      display: none

.page-noscroll
  overflow: hidden
.orange
  color: $orange
nav
  background: $nav_bg

  .main_menu
    @media (min-width: 992px)
      +flex
      +ai-center
      +j-beetween
      +wrap
    @media (max-width: 991px)
      position: fixed
      top: 0
      bottom: 0
      right: 0
      width: 80%
      height: 100%
      z-index: 9999
      overflow-y: auto
      overflow-x: hidden
      background: $nav_bg
      padding: 50px 10px 10px
      +transition($transition_default)
      +transform(translateX(100%))
      opacity: 0
      &.open
        opacity: 1
        +transform(translateX(0))

    .mm_close
      position: absolute
      top: 0
      right: 0
      width: 30px
      height: 30px
      background: #fff
      &:before, &:after
        +b_a
        +m_a
        width: 20px
        height: 2px
        background: $nav_bg
      &:before
        +transform(rotate(45deg))
      &:after
        +transform(rotate(-45deg))
      @media (min-width: 992px)
        display: none

    .nav
      @media (max-width: 991px)
        margin-bottom: 30px

      li
        position: relative
        .arrow
          position: absolute
          width: 30px
          height: 30px
          right: 0
          top: 4px
          cursor: pointer
          &.act
            &:before
              +transform(rotate(-180deg))

          &:before
            +b_a
            +m_a
            width: 10px
            height: 6px
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
            +transition($transition_default)
          @media (min-width: 992px)
            display: none
      @media (min-width: 992px)
        li
          position: relative
          &:hover
            > .sub_menu
              display: block
      > li
        padding: 0 16px
        @media (max-width: 1200px)
          padding: 0 5px
        @media (max-width: 991px)
          width: 100%
          padding: 0
        &:first-child
          @media (min-width: 992px)
            padding-left: 0
            a
              padding-left: 0
        &.has_child
          > a
            &:after
              +b_a
              right: 0
              top: 0
              bottom: 0
              margin: auto
              width: 10px
              height: 6px
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")

        > a
          color: #fff
          font-family: $raleway
          font-weight: 500
          font-size: 14px
          text-decoration: none
          text-transform: uppercase
          display: inline-block
          position: relative
          padding: 23px 17px
          @media (max-width: 991px)
            padding: 10px
            &:after
              display: none
          &:hover
            color: $orange

      .sub_menu
        display: none
        z-index: 99
        @media (min-width: 992px)
          min-width: 300px
          position: absolute
          top: 100%
          left: 0
        li
          width: 100%
          @media (min-width: 992px)
            border-bottom: 1px solid rgba(255, 255, 255, 0.5)
          &:last-child
            border-bottom: 0
          a
            color: #ffffff
            text-decoration: none
            display: inline-block
            padding: 10px 15px
            width: 100%
            background: $nav_bg
            &:hover
              background: rgba(48, 48, 48, 0.7)

        .sub_menu
          @media (min-width: 992px)
            top: 0
            left: 100%

  .search_box
    width: 100%
    max-width: 280px
    @media (max-width: 1200px)
      max-width: 250px
    @media (max-width: 991px)
      max-width: 100%
      padding-left: 10px
    .search_form
      +flex
      +ai-center
      border-bottom: 1px solid rgba(255, 255, 255, 0.2)
      .form-control
        background: none
        border: 0
        +border-radius(0)
        height: 28px
        width: calc(100% - 30px)
        font-size: 13px
        padding-left: 0
        color: #fff
        &::-webkit-input-placeholder
          color: rgba(255, 255, 255, 0.5)
          font-size: 12px
          font-family: $font
        &::-moz-placeholder
          color: rgba(255, 255, 255, 0.5)
          font-size: 12px
          font-family: $font
        &::-ms-input-placeholder
          color: rgba(255, 255, 255, 0.5)
          font-size: 12px
          font-family: $font
        &:-moz-placeholder
          color: rgba(255, 255, 255, 0.5)
          font-size: 12px
          font-family: $font
        &:-ms-input-placeholder
          color: rgba(255, 255, 255, 0.5)
          font-size: 12px
          font-family: $font

      .btn_search
        background: none
        border: 0
        position: relative
        width: 30px
        height: 28px
        &:before
          +b_a
          right: 0
          top: 0
          bottom: 0
          margin: auto
          width: 19px
          height: 20px
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8.19011' cy='8.19011' r='7.44011' stroke='white' stroke-width='1.5'/%3e%3cpath d='M13.1042 14.3325L17.6087 18.8371' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")



.main_slider
  position: relative
  @media (max-width: 1200px)
    margin: 0 -15px

  .slick-dots
    bottom: 15px
    + .slick-dots
      width: 50px
      right: 110px
      left: initial
      top: 0
      bottom: 0
      margin: auto
      +flex
      +ai-center
      +j-center
      +col
      +wrap
      @media (max-width: 1200px)
        right: 20px
      @media (max-width: 767px)
        display: none
      li
        width: 100%
        color: #fff
        font-size: 14px
        position: relative
        margin-bottom: 15px
        +transition($transition_default)
        &.slick-active
          font-size: 20px
          font-weight: 600
          padding-right: 15px
          &:before
            opacity: 1
        &:before
          +b_a
          right: -6px
          top: 0
          bottom: 0
          margin: auto
          width: 20px
          height: 1px
          background: #fff
          opacity: 0
          +transition($transition_default)


    li
      &.slick-active
        button
          background: $orange
      button
        width: 9px
        height: 9px
        +border-radius(50%)
        background: #8E8E8E
        border: 0
        &:before
          display: none
  .slider_item
    position: relative
    background-size: cover
    background-position: center
    height: 525px
    @media (max-width: 1200px)
      height: 500px
    @media (max-width: 991px)
      height: 450px
    @media (max-width: 767px)
      height: 400px
    &:before
      +b_a
      background: linear-gradient(103.05deg, rgba(31, 31, 31, 0.88) 10.39%, rgba(31, 31, 31, 0.61) 52.97%, rgba(31, 31, 31, 0) 100.32%)
      width: 100%
      height: 100%
      top: 0
      left: 0
    .slider_item_content
      position: relative
      z-index: 2
      color: #fff
      height: 100%
      padding: 30px 100px
      +flex
      +ai-center
      @media (max-width: 1200px)
        padding: 30px
      @media (max-width: 767px)
        padding: 30px 15px
      .title
        font-family: $raleway
        font-weight: 800
        font-size: 38px
        line-height: 1.2
        color: #ffffff
        text-transform: uppercase
        margin-bottom: 35px
        @media (max-width: 1200px)
          font-size: 30px
          margin-bottom: 30px
        @media (max-width: 991px)
          font-size: 28px
          margin-bottom: 20px
        @media (max-width: 767px)
          font-size: 25px
        @media (max-width: 575px)
          font-size: 22px
      .desc
        margin-bottom: 35px
        @media (max-width: 1200px)
          margin-bottom: 30px
        @media (max-width: 991px)
          margin-bottom: 20px
        ul
          counter-reset: list_counter
          li
            counter-increment: list_counter
            color: #fff
            font-size: 14px
            line-height: 1.2
            margin-bottom: 3px
            &:before
              content: counter(list_counter) '.'
              font-family: $font
              font-weight: 700
              margin-right: 5px



.btn_group
  +flex
  +ai-center
  +wrap
  a
    margin-bottom: 10px
    &:first-child
      margin-right: 25px



.btn_default
  +flex
  +ai-center
  +j-center
  width: 100%
  max-width: 180px
  height: 45px
  font-family: $font
  font-size: 13px
  text-transform: uppercase
  font-weight: 600
  text-align: center
  background: $orange
  border: 2px solid $orange
  color: #fff
  text-decoration: none

  @media (max-width: 767px)
    height: 40px
  &:hover
    background: #ffffff
    color: #333

    text-decoration: none

  &.btn_white
    background: #fff
    color: #333
    border: 2px solid #fff
    &:hover
      background: $orange
      border: 2px solid $orange
      color: #fff



main
  padding: 30px 0
  @media (max-width: 1200px)
    padding: 20px 0
  @media (max-width: 767px)
    padding: 0 0 20px



.section_title
  color: $text_black
  font-size: 32px
  line-height: 1.2
  text-align: center
  text-transform: uppercase
  font-family: $raleway
  margin: 55px 0 35px
  @media (max-width: 1200px)
    font-size: 30px
    margin: 45px 30px
  @media (max-width: 991px)
    font-size: 28px
    margin: 30px 0 20px
  @media (max-width: 767px)
    font-size: 24px


.working
  padding-bottom: 40px
  @media (max-width: 1200px)
    padding-bottom: 30px
  @media (max-width: 767px)
    padding-bottom: 10px

.working_list
  margin: 0 -12px
  > div
    padding: 0 12px
    margin-bottom: 30px
    &:nth-child(odd)
      .working_list_item
        .image-counter_box
          &:before
            background: #1F1F1F
          .counter
            background: #EEEEEE

    &:nth-child(even)
      .working_list_item
        .image-counter_box
          &:before
            background: #EEEEEE
          .counter
            background: #1F1F1F

  .working_list_item
    position: relative
    .image-counter_box
      position: relative
      text-align: right
      padding-top: 22px
      margin-bottom: 13px
      &:before
        +b_a
        left: 25px
        bottom: 0
        width: 10px
        height: 10px
      .counter
        width: 60px
        height: 60px
        +flex
        +ai-center
        +j-center
        color: #fff
        font-size: 42px
        font-weight: bold
        position: absolute
        left: 0
        top: 0
      img
        position: relative
        z-index: 2
    .work_title
      color: $text_black
      font-weight: 600
      font-family: $font
      font-size: 16px
      line-height: 1.2
      text-align: center
      margin-bottom: 10px
    .work_desc
      text-align: center
      font: 300 13px/18px $font

.main_about
  padding-bottom: 40px
  .main_about_row
    +flex
    +wrap
    > div
      &:first-child
        @media (max-width: 767px)
          margin-bottom: 20px
        @media (min-width: 768px)
          order: 2
      &:last-child
        @media (min-width: 768px)
          order: 1

    blockquote
      margin-bottom: 35px

    picture
      display: inline-block
      position: relative
      padding-left: 20px
      @media (max-width: 991px)
        padding-left: 10px
      &:before
        +b_a
        background: #1F1F1F
        top: 20px
        bottom: -20px
        right: 20px
        left: 0
        @media (max-width: 991px)
          top: 10px
          bottom: -10px
          right: 10px

      img
        position: relative
        z-index: 1
    .btn_default
      margin-left: 48px
      @media (max-width: 1200px)
        margin-left: 35px
      @media (max-width: 767px)
        margin-left: 0

blockquote
  position: relative
  color: #323232
  font-size: 14px
  line-height: 19px
  font-weight: 300
  padding-left: 48px
  @media (max-width: 1200px)
    padding-left: 35px

  &:before
    +b_a
    left: 0
    top: 0
    width: 22px
    height: 21px
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.86667 0H0V12.3699C0 19.274 5.33333 21 8 21V15.2466C6.29333 15.2466 5.86667 13.7123 5.86667 12.9452V0Z' fill='%23333333'/%3e%3cpath d='M19.8667 0H14V12.3699C14 19.274 19.3333 21 22 21V15.2466C20.2933 15.2466 19.8667 13.7123 19.8667 12.9452V0Z' fill='%23333333'/%3e%3c/svg%3e ")


.main_services_list
  > div
    margin-bottom: 5px
    &:nth-child(4), &:nth-child(5), &:nth-child(6)
      .main_services_item
        @media (min-width: 1201px)
          border-bottom: 0
  .main_services_item
    +flex
    +ai-center
    text-decoration: none
    color: $text_black
    border-bottom: 1px solid #E8E8E8
    padding: 23px 0
    @media (max-width: 1200px)
      padding: 15px 0

    &:hover
      .serv_img
        img
          &.black
            opacity: 0
          &.white
            opacity: 1
        &:before
          background: $orange
          border: 1px solid $orange
    .serv_img
      position: relative
      width: 48px
      min-width: 48px
      height: 48px
      display: inline-block
      margin-right: 30px
      @media (max-width: 767px)
        width: 40px
        min-width: 40px
        height: 40px
        margin-right: 20px
      &:before
        +b_a
        top: 0
        right: 0
        bottom: 0
        left: 0
        border: 1px solid #E8E8E8
        +transition($transition_default)
        +transform(rotate(45deg))
      img
        position: absolute
        +m_a
        &.white
          opacity: 0
    .serv_text
      .serv_title
        color: $text_black
        font-size: 16px
        font-weight: 600
        margin-bottom: 17px
        @media (max-width: 1200px)
          margin-bottom: 10px
      p
        margin-bottom: 0

footer
  background: #303030
  padding: 75px 0
  @media (max-width: 575px)
    padding: 30px 0

  a
    color: #fff
    text-decoration: underline
    &:hover
      color: $orange
  .time
    color: #fff
    font-size: 14px
    line-height: 19px
    font-weight: 600
    position: relative
    padding-left: 45px
    margin-bottom: 35px
    &:before
      +b_a
      left: 0
      bottom: 0
      top: 0
      margin: auto
      width: 30px
      height: 30px
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M30 14.126C30 14.7085 30 15.2976 30 15.8801C29.9799 15.9805 29.9598 16.0876 29.9464 16.188C29.8526 16.8307 29.799 17.4868 29.6584 18.1228C28.8746 21.7246 27.0258 24.6771 24.0917 26.8997C20.4409 29.6647 16.3279 30.5819 11.8464 29.6446C8.25591 28.8948 5.34196 27.0202 3.11128 24.1147C0.699736 20.9815 -0.298376 17.4199 0.0767536 13.4967C0.384895 10.3167 1.61746 7.51157 3.73426 5.11483C6.05872 2.49047 8.95258 0.85024 12.4091 0.234318C12.9718 0.133896 13.5479 0.0803377 14.1173 0C14.7001 0 15.2896 0 15.8724 0C15.9461 0.0133896 16.0197 0.0401688 16.1001 0.0468636C18.4447 0.214234 20.6419 0.883715 22.6448 2.10886C26.5301 4.49222 28.9215 7.91996 29.7655 12.4122C29.8727 12.9879 29.9263 13.5637 30 14.126ZM26.7176 15.0298C26.7243 8.58274 21.4591 3.30054 15.0149 3.29385C8.57075 3.28046 3.28545 8.54927 3.27205 14.9897C3.26535 21.4368 8.53056 26.7123 14.9747 26.7257C21.4256 26.7324 26.7109 21.4702 26.7176 15.0298Z' fill='white'/%3e%3cpath d='M13.7618 12.1313C13.7618 10.9865 13.7551 9.84839 13.7685 8.70358C13.7752 8.1613 14.0565 7.773 14.5522 7.57216C15.0479 7.36462 15.5101 7.46504 15.9054 7.82656C16.2068 8.10105 16.3006 8.45587 16.3006 8.85756C16.2939 10.7924 16.3006 12.7205 16.2939 14.6553C16.2939 14.9097 16.3542 15.0904 16.5417 15.2712C17.8949 16.6101 19.2413 17.9558 20.5878 19.3015C21.1438 19.8571 21.1907 20.5735 20.7151 21.1091C20.2863 21.5978 19.5495 21.6848 19.0203 21.2965C18.9131 21.2162 18.8126 21.1224 18.7188 21.022C17.2384 19.5492 15.7647 18.0629 14.2843 16.5968C13.9359 16.2553 13.7618 15.867 13.7685 15.3783C13.7685 14.3004 13.7551 13.2159 13.7618 12.1313C13.7618 12.1313 13.7551 12.1313 13.7618 12.1313Z' fill='white'/%3e%3c/svg%3e ")



  .logo
    margin-bottom: 28px
    .logo_link
      span
        color: #E8E8E8
        font-size: 12px
        &.site_name
          color: #fff

  .copyright
    color: #ffffff
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .nav
    max-width: 395px
    @media (max-width: 991px)
      margin-bottom: 30px

    li
      position: relative
      .arrow
        position: absolute
        width: 30px
        height: 30px
        right: 0
        top: 4px
        cursor: pointer
        &.act
          &:before
            +transform(rotate(-180deg))

        &:before
          +b_a
          +m_a
          width: 10px
          height: 6px
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
          +transition($transition_default)
        @media (min-width: 992px)
          display: none
    @media (min-width: 992px)
      li
        position: relative
        &:hover
          > .sub_menu
            display: block
    > li
      padding: 0 16px
      @media (max-width: 1200px)
        padding: 0 5px
      @media (max-width: 991px)
        width: 100%
        padding: 0

      &.has_child
        > a
          &:after
            +b_a
            right: 0
            top: 0
            bottom: 0
            margin: auto
            width: 10px
            height: 6px
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")

      > a
        color: #fff
        font-family: $raleway
        font-weight: 500
        font-size: 14px
        text-decoration: none
        text-transform: uppercase
        display: inline-block
        position: relative
        padding: 10px 17px
        @media (max-width: 991px)
          padding: 10px
          &:after
            display: none
        &:hover
          color: $orange

    .sub_menu
      display: none
      @media (min-width: 992px)
        min-width: 300px
        position: absolute
        bottom: 100%
        left: 0
      li
        width: 100%
        @media (min-width: 992px)
          border-bottom: 1px solid rgba(255, 255, 255, 0.5)
        &:last-child
          border-bottom: 0
        a
          color: #ffffff
          text-decoration: none
          display: inline-block
          padding: 10px 15px
          width: 100%
          background: $nav_bg
          &:hover
            background: rgba(48, 48, 48, 0.7)

      .sub_menu
        @media (min-width: 992px)
          bottom: 0
          left: 100%





.page_banner
  position: relative
  min-height: 220px
  background-position: center
  background-size: cover
  +flex
  +ai-center
  padding: 30px 0

  @media (max-width: 991px)
    min-height: 180px
  @media (max-width: 767px)
    min-height: 100px
  &:before
    +b_a
    width: 100%
    height: 100%
    background: linear-gradient(103.05deg, rgba(31, 31, 31, 0.4) 10.39%, rgba(31, 31, 31, 0.61) 52.97%, rgba(31, 31, 31, 0) 100.32%)
    left: 0
    top: 0
  .container
    position: relative
    z-index: 2


.page_title
  position: relative
  padding-left: 45px
  color: #fff
  font: 400 32px/38px $raleway
  text-transform: uppercase
  margin-bottom: 35px
  @media (max-width: 1200px)
    font-size: 28px
    line-height: 1.2
    padding-left: 30px
    margin-bottom: 30px
  @media (max-width: 991px)
    font-size: 25px
    margin-bottom: 25px
  @media (max-width: 767px)
    font-size: 23px
    margin-bottom: 20px
  &:before
    content: '/'
    position: absolute
    left: 0
    top: 0
    bottom: 0
    margin: auto
    font: 800 32px/38px $raleway
    color: $orange
    @media (max-width: 1200px)
      font-size: 28px
      line-height: 1.2
    @media (max-width: 991px)
      font-size: 25px
    @media (max-width: 767px)
      font-size: 23px


.breadcrumb
  background: none
  padding: 0
  margin: 0
  li
    position: relative
    padding: 0 13px
    + li
      &:before
        content: '/'
        position: absolute
        left: -3px
        top: 0
        bottom: 0
        margin: auto
        color: #fff
        font: 300 14px $font
    &:first-child
      padding-left: 0
    &:last-child
      a
        font-weight: 300
    a
      font: 600 14px/1.2 $font
      color: #fff
      text-decoration: none
      &:hover
        color: $orange

.page_content
  padding: 75px 0
  @media (max-width: 1200px)
    padding: 50px 0
  @media (max-width: 767px)
    padding: 30px 0
  .category_list
    > div
      margin-bottom: 30px
      @media (max-width: 767px)
        margin-bottom: 20px

    .category_item
      padding: 25px
      border: 1px solid #E8E8E8
      +transition($transition_default)
      @media (max-width: 575px)
        padding: 15px
      &:hover
        +box-shadow(1px 2px 30px rgba(0, 0, 0, 0.17))
      picture
        display: inline-block
        position: relative
        padding-top: 10px
        margin-bottom: 18px
      .category_item_title
        color: $text_black
        font: 600 16px/1.2 $font
        margin-bottom: 15px
      .category_item_excerpt
        font: 300 14px/19px $font
        color: $text_black
        margin-bottom: 15px



.page_desc
  padding-top: 45px
  @media (max-width: 1200px)
    padding-top: 30px
  @media (max-width: 767px)
    padding-top: 20px


.subcat_list
  .subcat_item
    position: relative
    min-height: 180px

    @media (max-width: 767px)
      +box-shadow(1px 2px 30px rgba(0, 0, 0, 0.17))
      margin-bottom: 20px
    &:hover
      @media (min-width: 768px)

        z-index: 2
        .subcat_item_content
          +box-shadow(1px 2px 30px rgba(0, 0, 0, 0.17))
          height: auto
          .btn_default
            opacity: 1
    .subcat_item_content
      +flex
      padding-bottom: 25px
      padding-top: 25px

      @media (min-width: 768px)
        position: absolute
        width: 100%
        +transition($transition_default)
        background: #fff
        height: 180px

      @media (max-width: 575px)
        padding: 15px 0
      .btn_default
        @media (min-width: 768px)
          opacity: 0
    picture
      display: inline-block
      width: 136px
      min-width: 136px
      margin-right: 20px
      position: relative
      text-align: center

      @media (max-width: 575px)
        width: 100px
        min-width: 100px
      img
        display: inline-block

    .subcat_item_right
      width: calc(100% - 156px)
      padding-right: 25px
      @media (max-width: 575px)
        width: calc(100% - 120px)
        padding-right: 15px
      .subcat_item_title
        font: 600 22px/30px $font
        margin-bottom: 18px
        @media (max-width: 1200px)
          font-size: 20px
          line-height: 1.2
          margin-bottom: 15px
        @media (max-width: 767px)
          font-size: 18px
      .subcat_item_excerpt
        font: 300 14px/19px $font
        margin-bottom: 20px
        @media (max-width: 1200px)
          margin-bottom: 15px


.service_list
  > div
    margin-bottom: 30px
    @media (max-width: 575px)
      margin-bottom: 20px
  .service_item
    position: relative
    background-size: cover
    background-position: center
    height: 230px
    width: 100%
    &:hover
      .service_item_content
        .service_item_name
          color: $orange
    &:before
      +b_a
      width: 100%
      height: 100%
      background: linear-gradient(102.57deg, rgba(31, 31, 31, 0.91) 11.21%, rgba(31, 31, 31, 0.63) 35.02%, rgba(31, 31, 31, 0) 59.94%, rgba(31, 31, 31, 0) 100.31%)
      top: 0
      left: 0

    .service_item_content
      height: 100%
      width: 100%
      position: relative
      padding: 25px
      +flex
      +col
      +j-beetween
      .service_item_name
        max-width: 245px
        color: #fff
        font: 600 20px/27px $font
        +transition($transition_default)



.stocks_list
  .stocks_item
    padding: 25px 13px
    position: relative
    +transition($transition_default)
    &:hover
      +box-shadow(1px 2px 30px rgba(0, 0, 0, 0.17))

    .stocks_item_img
      background-size: cover
      background-position: center
      height: 230px
      width: 100%
      margin-bottom: 15px

    .stocks_item_body
      .title_date
        +flex
        +ai-center
        +j-beetween
        margin-bottom: 15px
        .title
          padding-right: 25px
          font: 600 16px/22px $font
        .date
          color: #323232
          font: 300 12px/16px $font
          white-space: nowrap
      .excerpt
        font: 300 14px/19px $font
        margin-bottom: 20px

.product_slider_box
  +flex
  @media (max-width: 767px)
    margin-bottom: 20px
  &.show_3d
    .col_right
      .product_slider
        opacity: 0
        z-index: 1
      .threeD_img
        opacity: 1
        z-index: 2
  .col_left
    width: 80px
    margin-right: 25px
    +flex
    +col
    +j-beetween
    @media (max-width: 575px)
      width: 60px
      margin-right: 10px

    .threeD_toggler
      position: relative
      text-align: center
      cursor: pointer
      span
        color: #323232
        font: 600 14px $font
        display: inline-block
        margin-bottom: 10px
        @media (max-width: 767px)
          margin-bottom: 3px
      .box
        width: 77px
        height: 70px
        border: 1px solid #E8E8E8
        position: relative
        @media (max-width: 575px)
          width: 60px
          height: 60px
        &:before
          +b_a
          +m_a
          width: 33px
          height: 19px
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='33' height='19' viewBox='0 0 33 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M32.1765 4.93374C31.3782 3.75655 30.2302 2.98426 28.9682 2.36192C26.8394 1.3122 24.5586 0.764848 22.2246 0.412441C19.3432 -0.022443 16.4541 -0.0974231 13.5499 0.112521C11.0562 0.292473 8.59294 0.68237 6.22089 1.47716C4.5559 2.03201 2.96693 2.73682 1.66687 3.9515C-0.499899 5.98346 -0.56072 8.69774 1.52242 10.8122C2.46516 11.7719 3.62077 12.4093 4.85241 12.9191C7.52856 14.0288 10.3568 14.4862 13.2306 14.7336C13.3978 14.7486 13.5727 14.7711 13.7704 14.8011C13.7704 16.2032 13.7704 17.5679 13.7704 19C16.4541 16.938 19.0847 14.9211 21.738 12.8816C19.0619 10.8272 16.4389 8.81021 13.74 6.74076C13.74 8.11289 13.74 9.38006 13.74 10.6622C13.6639 10.6697 13.6107 10.6847 13.5651 10.6772C11.3375 10.4823 9.13273 10.1748 7.03438 9.38756C6.21329 9.08014 5.41501 8.66775 4.70035 8.16538C3.92488 7.61803 3.92488 7.3406 4.68515 6.76325C5.21733 6.35836 5.82555 6.02095 6.44897 5.75102C8.62335 4.82877 10.9194 4.42387 13.2686 4.22143C16.667 3.92901 20.0502 4.04897 23.3954 4.77628C24.8703 5.0987 26.3148 5.51858 27.6225 6.29088C28.0102 6.51582 28.3448 6.83073 28.6793 7.13065C28.8998 7.3256 28.9074 7.58054 28.6793 7.78298C28.3828 8.05291 28.1015 8.37532 27.7518 8.54778C26.8546 8.97516 25.9423 9.37256 25.0072 9.70997C24.0644 10.0549 24.0492 10.0174 24.0492 10.9996C24.0492 12.0344 24.0492 13.0691 24.0492 14.1563C24.1709 14.1413 24.2393 14.1488 24.2925 14.1263C25.547 13.7439 26.8242 13.414 28.0483 12.9491C29.5612 12.3793 30.9373 11.5545 31.9636 10.2648C33.2637 8.63026 33.3473 6.65828 32.1765 4.93374Z' fill='%23303030'/%3e%3c/svg%3e ")

    .product_slider_nav
      padding: 25px 0
      .slick-arrow
        right: 0
        left: 0
        margin: auto
        width: 17px
        height: 10px
        &:before
          +b_a
          width: 17px
          height: 10px
          +m_a
      .slick-prev
        top: 6px
        &:before
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16 9L8.5 0.999999L1 9' stroke='%23323232' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
      .slick-next
        bottom: 6px
        top: initial
        &:before
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L8.5 9L16 1' stroke='%23323232' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
      .slider_item
        position: relative
        width: 77px
        height: 70px
        border: 1px solid #E8E8E8
        margin-bottom: 10px
        @media (max-width: 575px)
          width: 60px
          height: 60px
        img
          position: absolute
          +m_a
          max-width: 99%
          max-height: 99%

      .slick-current
        .slider_item
          border: 2px solid $orange


  .col_right
    width: calc(100% - 105px)
    position: relative
    @media (max-width: 575px)
      width: calc(100% - 70px)
    .threeD_img
      position: absolute
      width: 100%
      height: 434px
      border: 2px solid #E8E8E8
      opacity: 0
      top: 0
      left: 0
      z-index: 1
      text-align: center
      @media (max-width: 1200px)
        height: 400px
      @media (max-width: 767px)
        height: 304px
      @media (max-width: 575px)
        height: 280px
      img
        max-height: 99%
        max-width: 99%
    .product_slider
      border: 2px solid #E8E8E8
      width: 100%
      height: 434px
      position: relative
      z-index: 2
      @media (max-width: 1200px)
        height: 400px
      @media (max-width: 767px)
        height: 304px
      @media (max-width: 575px)
        height: 280px
      .slider_item
        height: 434px
        position: relative
        @media (max-width: 1200px)
          height: 400px
        @media (max-width: 767px)
          height: 304px
        @media (max-width: 575px)
          height: 280px
        a
          display: inline-block
          width: 100%
          height: 100%
          position: relative
          img
            position: absolute
            +m_a
            max-height: 97%
            max-width: 99%

.page_content
  .page_title
    color: $text_black


.product_info
  .page_title
    margin-bottom: 25px
  .articul
    font: 300 14px/1.2 $font
    margin-bottom: 35px
    @media (max-width: 1200px)
      margin-bottom: 30px
    @media (max-width: 767px)
      margin-bottom: 20px
  .docs
    margin-bottom: 10px
    .title
      font: 600 16px $font
      margin-bottom: 25px
      @media (max-width: 1200px)
        margin-bottom: 20px
      @media (max-width: 767px)
        margin-bottom: 15px
    .docs_row
      margin: 0
      > div
        padding: 0
        margin-bottom: 20px
      .docs_item
        text-decoration: none
        color: $text_black
        +flex
        +ai-center
        &:hover
          .text
            .docs_title
              color: $orange
        picture
          display: inline-block
          position: relative
          margin-right: 10px

        .text
          .docs_title
            font: 600 13px $font
            margin-bottom: 8px
            +transition($transition_default)
          .date
            font: 300 12px $font
  .price
    font: 700 22px $raleway
    text-transform: uppercase
    margin-bottom: 30px
    @media (max-width: 1200px)
      margin-bottom: 25px
    @media (max-width: 767px)
      margin-bottom: 15px


.product_row
  margin-bottom: 75px
  @media (max-width: 1200px)
    margin-bottom: 50px
  @media (max-width: 767px)
    margin-bottom: 30px

.nav-tabs_product
  border-bottom: 4px solid #323232
  .nav-item
    margin-right: 5px
    @media (max-width: 575px)
      margin: 0
      width: 100%
    .nav-link
      +flex
      +ai-center
      +j-center
      height: 45px
      font: 600 14px $font
      color: $text_black
      background: #EFEFEF
      +border-radius(0)
      padding: 10px
      min-width: 180px
      text-decoration: none
      @media (max-width: 575px)
        width: 100%
        height: 35px
      &.active, &:hover
        background: #323232
        color: #fff

.tab-content_product
  border: 2px solid #E8E8E8
  border-top: 0
  .tab-pane
    padding: 35px 35px 20px
    @media (max-width: 1200px)
      padding: 30px 30px 20px
    @media (max-width: 767px)
      padding: 15px

.contacts_row
  +flex
  +wrap
  margin-bottom: 70px
  @media (max-width: 1200px)
    margin-bottom: 50px
  @media (max-width: 767px)
    margin-bottom: 30px
  .contacts_group
    .title
      font: 700 14px $font
      margin-bottom: 25px
      @media (max-width: 767px)
        margin-bottom: 15px
    &:first-child
      width: 36%
      @media (min-width: 768px)
        padding-right: 15px
      @media (max-width: 767px)
        width: 100%
        margin-bottom: 20px
      @media (min-width: 1201px)
        padding-left: 30px
        border-right:  1px solid #E8E8E8
    &:last-child
      width: 64%
      @media (max-width: 767px)
        width: 100%
      @media (min-width: 1201px)
        padding-left: 90px
    ul
      li
        margin-bottom: 25px
        @media (max-width: 767px)
          margin-bottom: 15px
.location
  position: relative
  +flex
  +ai-center

  i
    position: relative
    display: inline-block
    background: #323232
    width: 30px
    min-width: 30px
    height: 30px
    +border-radius(50%)
    margin-right: 15px
    &:before
      +b_a
      +m_a
      width: 11px
      height: 15px
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='15' viewBox='0 0 11 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.5 0C2.45929 0 0 2.3475 0 5.25C0 9.1875 5.5 15 5.5 15C5.5 15 11 9.1875 11 5.25C11 2.3475 8.54071 0 5.5 0ZM5.5 7.125C4.41571 7.125 3.53571 6.285 3.53571 5.25C3.53571 4.215 4.41571 3.375 5.5 3.375C6.58429 3.375 7.46429 4.215 7.46429 5.25C7.46429 6.285 6.58429 7.125 5.5 7.125Z' fill='white'/%3e%3c/svg%3e ")


.phone
  position: relative
  +flex
  +ai-center
  text-decoration: none
  color: $text_black
  @media (max-width: 1200px)
    margin-bottom: 10px
  i
    position: relative
    display: inline-block
    background: #323232
    width: 30px
    min-width: 30px
    height: 30px
    +border-radius(50%)
    margin-right: 15px
    &:before
      +b_a
      +m_a
      width: 12px
      height: 12px
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.3333 8.33333C10.5 8.33333 9.7 8.2 8.95333 7.95333C8.72 7.88 8.46 7.93333 8.27333 8.11333L6.80667 9.58C4.92 8.62 3.37333 7.08 2.41333 5.18667L3.88 3.71333C4.06667 3.54 4.12 3.28 4.04667 3.04667C3.8 2.3 3.66667 1.5 3.66667 0.666667C3.66667 0.3 3.36667 0 3 0H0.666667C0.3 0 0 0.3 0 0.666667C0 6.92667 5.07333 12 11.3333 12C11.7 12 12 11.7 12 11.3333V9C12 8.63333 11.7 8.33333 11.3333 8.33333Z' fill='white'/%3e%3cpath d='M11.3333 8.33333C10.5 8.33333 9.7 8.2 8.95333 7.95333C8.72 7.88 8.46 7.93333 8.27333 8.11333L6.80667 9.58C4.92 8.62 3.37333 7.08 2.41333 5.18667L3.88 3.71333C4.06667 3.54 4.12 3.28 4.04667 3.04667C3.8 2.3 3.66667 1.5 3.66667 0.666667C3.66667 0.3 3.36667 0 3 0H0.666667C0.3 0 0 0.3 0 0.666667C0 6.92667 5.07333 12 11.3333 12C11.7 12 12 11.7 12 11.3333V9C12 8.63333 11.7 8.33333 11.3333 8.33333Z' fill='white'/%3e%3c/svg%3e ")





.contact_form_box
  background: #FFFFFF
  +box-shadow(1px 2px 40px rgba(0, 0, 0, 0.17))

  .contact_form
    padding: 35px
    width: 100%
    @media (max-width: 1200px)
      padding: 30px
    @media (max-width: 767px)
      padding: 30px 15px
    .row
      margin: 0 -13px
      div[class^=col]
        padding: 0 13px

    .col-xl-4
      @media (min-width: 1201px)
        -ms-flex: 0 0 39%
        flex: 0 0 39%
        max-width: 39%
    .col-xl-8
      @media (min-width: 1201px)
        -ms-flex: 0 0 61%
        flex: 0 0 61%
        max-width: 61%


    .btn_default
      @media (max-width: 1200px)
        margin-bottom: 10px

    .title
      text-align: center
      font: 700 32px/1.2 $raleway
      text-transform: uppercase
      margin-bottom: 18px
      @media (max-width: 1200px)
        font-size: 28px
      @media (max-width: 767px)
        font-size: 25px
      @media (max-width: 575px)
        font-size: 20px
    .sub_title
      text-align: center
      font-size: 16px
      color: #000
      margin-bottom: 35px
      @media (max-width: 1200px)
        font-size: 14px
        margin-bottom: 30px
      @media (max-width: 767px)
        margin-bottom: 20px
    .ai_center
      +flex
      +ai-center
      span
        font: 300 10px $font
        color: $text_black


.field
  margin-bottom: 20px
  .form-control
    background: #F5F5F5
    border: 1px solid #E8E8E8
    height: 45px
    font: 300 14px $font
    color: #000
    +border-radius(0)
    &::-webkit-input-placeholder
      font: 300 12px $font
      color: #000
    &::-moz-placeholder
      font: 300 12px $font
      color: #000
    &:-moz-placeholder
      font: 300 12px $font
      color: #000
    &:-ms-input-placeholder
      font: 300 12px $font
      color: #000

  textarea.form-control
    height: 110px
.c_bg
  background-size: cover
  background-position: center
  height: 435px
  @media (max-width: 1200px)
    display: none

.modal-open,  .modal
  padding-right: 0 !important

.modal-dialog
  @media (min-width: 1201px)
    max-width: 1200px

.modal-body
  padding: 0


.modal
  .modal-content
    border: 0
  .close
    position: absolute
    right: 10px
    top: 25px
    width: 17px
    height: 17px
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L16 16' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16 1L1 16' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
    opacity: 1
    z-index: 3
    @media (max-width: 1200px)
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L16 16' stroke='%23ffab00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16 1L1 16' stroke='%23ffab00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
      top: 10px

    &:hover
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L16 16' stroke='%23ffab00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16 1L1 16' stroke='%23ffab00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")


